$theme: (
      backgroundColor: #3A3D4B,
      textBodyColor: #F9F6F2,
      primary: #4A8296,
      secondary: #324747,
      highlight: #1CB7C8,
);
$layoutOne: (
  primary: #4A8296,
  secondary: #5D515B,
  backgroundColor: #FFFEFA,
  cardColor: #CBC9D3,
  highlight: #33647C,
  textBodyColor: #274559,
);
$layoutTwo: (
  navbar: #232534,
  backgroundColor: #F7F7F6,
  cardColor: rgb(201, 201, 195),
  highlight: #DF583F,
  textBodyColor: black
);
