$theme: (
      backgroundColor: #3A3D4B,
      textBodyColor: #F9F6F2,
      primary: #4A8296,
      secondary: #4A8296,
      highlight: #1CB7C8,
);
$layoutOne: (
  backgroundColor: #FFFEFA,
  cardColor: #CBC9D3,
  highlight: #33647C,
  textBodyColor: #274559,
)
